snippet (func "wrapped function" i
(function($2)
{
	$1
});
endsnippet

snippet func "anonymous function"
function($2)
{
	$1
}
endsnippet

snippet $(doc "document ready" b
$(document).ready(function()
{
	$1
});
endsnippet
